body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.booking-form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .booking-form-container {
        padding: 15px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input,
    .form-group select {
        padding: 8px;
        font-size: 14px;
    }

    .btn {
        padding: 8px;
        font-size: 14px;
    }
}
